<html>


<head>
    <title> Developer Portal placeholder</title>

    <link rel="stylesheet" type="text/css" href="assets/style.css">
</head>

<style>
img {
    border-radius: 8px;
    margin: auto;
    width: 50%;
}

</style>

<body>



    <h1 id="videos">Videos</h1>

    <p> To get the Video JSON File: <a href="/assets/videosdatabase.json">Video Data</a></p>
    <p>Free content with Object endpoints</p>
    <h1 id="basecamp">Basecamp</h1>
    <h3 id="welcome">Welcome</h3>
    <div class="figure">
        <img src="https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/00+-+intro/00-intro.png" alt="welcome" />
        <p
            class="caption">welcome</p>
    </div>
    <pre><code>{
videoid: 5,
name: &quot;welcome&quot;,
screenshot: &quot;http//s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/00+-+intro/00-intro.png&quot;,
videourl1: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/00+-+intro/00+-+IntroToScalability4k.mp4&quot;,
url2: &quot;none&quot;
},
</code></pre>
    <h1 id="getting-started">Getting Started</h1>
    <h3 id="code-along-part-1">Code Along: Part 1</h3>
    <div class="figure">
        <img src="https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/01-Single+Server+Setup+/01-1-express-setup.png" alt="codepart1"
        />
        <p class="caption">codepart1</p>
    </div>
    <pre><code>{
videoid: 10,
name: &quot;Code Along: Part 1&quot;,
screenshot: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/01-Single+Server+Setup+/01-1-express-setup.png&quot;,
videourl1: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/01-Single+Server+Setup+/01-1+-+ExpressSetup.mp4&quot;,
url2: &quot;none&quot;
},
</code></pre>
    <h3 id="code-along-part-2">Code Along: Part 2</h3>
    <div class="figure">
        <img src="https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/01-Single+Server+Setup+/01-2-display-images.png" alt="codepart2"
        />
        <p class="caption">codepart2</p>
    </div>
    <pre><code>{
videoid: 15,
name: &quot;Code Along: Part 2&quot;,
screenshot: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/01-Single+Server+Setup+/01-2-display-images.png&quot;,
videourl1: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/01-Single+Server+Setup+/01-2+-+Display+Images.mp4&quot;,
url2: &quot;none&quot;
},
</code></pre>
    <h3 id="code-along-part-3">Code Along: Part 3</h3>
    <div class="figure">
        <img src="https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/01-Single+Server+Setup+/01-3-mysql.png" alt="codepart3"
        />
        <p class="caption">codepart3</p>
    </div>
    <pre><code>{
videoid: 20,
name: &quot;Code Along: Part 3&quot;,
screenshot: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/01-Single+Server+Setup+/01-3-mysql.png&quot;,
videourl1: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/01-Single+Server+Setup+/01-3+Mysql+Orm+.mp4&quot;,
url2: &quot;none&quot;
},
</code></pre>
    <h1 id="scaling-vertically">Scaling Vertically</h1>
    <h3 id="vertical-scaling-overview">Vertical Scaling Overview</h3>
    <div class="figure">
        <img src="https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/02-+Vertical+Scaling/overview2.png" alt="scalingoverview"
        />
        <p class="caption">scalingoverview</p>
    </div>
    <pre><code>{
videoid: 25,
name: &quot;Vertical Scaling Overview&quot;,
screenshot: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/02-+Vertical+Scaling/overview2.png&quot;,
videourl1: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/02-+Vertical+Scaling/02-00+-+Intro+to+Vertical+Scaling.mp4&quot;,
url2: &quot;none&quot;
},
</code></pre>
    <h3 id="vertical-scaling-in-action">Vertical Scaling In Action</h3>
    <div class="figure">
        <img src="https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/02-+Vertical+Scaling/02-04-action" alt="verticalAction"
        />
        <p class="caption">verticalAction</p>
    </div>
    <pre><code>{
videoid: 30,
name: &quot;Vertical Scaling In Action&quot;,
screenshot: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/02-+Vertical+Scaling/02-04-action&quot;,
videourl1: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/02-+Vertical+Scaling/02-04+-+Vertical+Scaling+in+Action.mp4&quot;,
url2: &quot;none&quot;
},
</code></pre>
    <h3 id="vertical-scaling-overview-1">Vertical Scaling Overview</h3>
    <div class="figure">
        <img src="https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/02-+Vertical+Scaling/overview2.png" alt="verticalscalingoverview"
        />
        <p class="caption">verticalscalingoverview</p>
    </div>
    <pre><code>{
videoid: 35,
name: &quot;Vertical Scaling In Action&quot;,
screenshot: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/02-+Vertical+Scaling/overview2.png&quot;,
videourl1: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/02-+Vertical+Scaling/02-00+-+Intro+to+Vertical+Scaling.mp4&quot;,
url2: &quot;none&quot;
},
</code></pre>
    <h1 id="appendix">Appendix</h1>
    <h3 id="mysql-refresher">MYSQL Refresher</h3>
    <div class="figure">
        <img src="https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/06+-+Appendix/mysql-refresher.png" alt="mysqlrefresher"
        />
        <p class="caption">mysqlrefresher</p>
    </div>
    <pre><code>{
videoid: 40,
name: &quot;MYSQL Refresher&quot;,
screenshot: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/06+-+Appendix/mysql-refresher.png&quot;,
videourl1: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/01-Single+Server+Setup+/01-4+-+SQL+Joins.mp4&quot;,
url2: &quot;none&quot;
},
</code></pre>
    <h3 id="vagrant-part-1">Vagrant Part 1</h3>
    <div class="figure">
        <img src="https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/06+-+Appendix/vagrant1.png" alt="vagrantpart1" />
        <p
            class="caption">vagrantpart1</p>
    </div>
    <pre><code>{
videoid: 45,
name: &quot;Vagrant Part 1&quot;,
screenshot: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/06+-+Appendix/vagrant1.png&quot;,
videourl1: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/02-+Vertical+Scaling/02-01+-+Vagrant+Setup+Part+1.mp4&quot;,
url2: &quot;none&quot;
},
</code></pre>
    <h3 id="vagrant-part-2">Vagrant Part 2</h3>
    <div class="figure">
        <img src="https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/06+-+Appendix/vagrant1.png" alt="vagrantpart1" />
        <p
            class="caption">vagrantpart1</p>
    </div>
    <pre><code>{
videoid: 50,
name: &quot;Vagrant Part 2&quot;,
screenshot: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/06+-+Appendix/vagrant2.png&quot;,
videourl1: &quot;https://s3-us-west-1.amazonaws.com/www.scalabilitysherpa.com/02-+Vertical+Scaling/02-03+Vagrant+Setup+Part+2.mp4&quot;,
url2: &quot;none&quot;
},
</code></pre>




</body>

<footer>
    <div id="disqus_thread"></div>

</footer>
<div id="disqus_thread"></div>
<script>

/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
/*
var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//developerportal-1.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


</footer>

</html>
